.header{
  .uk-container{
    @include media-breakpoint-up('m'){
      max-width: calc(#{$container} + 30px);
    }
  }
  &__top{
    background-color: #F4F5F6;
    .uk-navbar-item{
      min-height: 40px;
    }
    &__txt{
      color: #777E90;
      line-height: (20/12);
      @extend .fz-12;
      font-family: $font-SVNGilroy-Medium;
      span{
        color: #000;
      }
    }
  }
  &__bottom{
    background-color: #fff;
    &.uk-sticky-fixed{
      //box-shadow: 0 5px 15px rgba(0,0,0,0.08);
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
    }
    .uk-logo{
      img{
        @include fluidx(48px,42px,height);
      }
    }
    .uk-navbar-toggle,
    .uk-navbar-item{
      @extend .header__bottom__navbarItem;
    }
    .uk-navbar-nav{
      >li{
        >a{
          @extend .header__bottom__navbarItem;
          color: #1D1E41;
          @extend .fz-16;
          font-family: $font-SVNGilroy-SemiBold;
          text-transform: inherit;
          background-repeat: no-repeat;
          background-position: center right -4px;
          &:hover{
            color: #3772FF;
          }
          &[aria-expanded="false"]{
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%231D1E41' stroke-width='1.03' points='16 7 10 13 4 7'%3E%3C/polyline%3E%3C/svg%3E");
          }
          &[aria-expanded="true"]{
            color: #3772FF;
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%233772FF' stroke-width='1.03' points='4 13 10 7 16 13'%3E%3C/polyline%3E%3C/svg%3E");
          }
        }
      }
    }
    &__navbarItem{
      min-height: 60px;
      @include media-breakpoint-up('m'){
        min-height: 76px;
      }
    }
    &__divider{
      position: relative;
      @include media-breakpoint-up('m'){
        margin-left: 100px;
      }
      &:after{
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 1px;
        height: 40px;
        background-color: #E6E8EC;
        display: inline-block;
      }
    }
    &__btn{
      border-radius: 8px;
      line-height: 44px;
      text-transform: inherit;
      @extend .fz-14;
      font-family: $font-SVNGilroy-Bold;
      &:nth-child(n+2){
        margin-left: 16px;
      }
      &--login{
        background-color: #3772FF;
      }
      &--register{
        background-color: #f7f7f7;
      }
    }
    &__profile{
      cursor: pointer;
      & + .uk-dropdown{
        min-width: 256px;
        background: #FFFFFF;
        box-shadow: 0 4px 30px rgba(27, 25, 86, 0.1);
        border-radius: 12px;
        padding: 10px 15px;
        .uk-nav{
          >li{
            &:nth-child(n+2){
              >a{
                border-top: 1px solid #E6E8EC;
              }
            }
            >a{
              color: #777E91;
              @extend .fz-14;
              font-family: $font-SVNGilroy-Bold;
              padding: 10px 0;
              padding-left: 30px;
              background-repeat: no-repeat;
              background-position: center left;
              &:hover{
                color: #141416;
              }
            }
            &.acc{
              >a{
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_756:11962)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 10.8341C6.77834 10.8341 4.16667 13.4458 4.16667 16.6675V18.3341C4.16667 18.7944 3.79357 19.1675 3.33333 19.1675C2.8731 19.1675 2.5 18.7944 2.5 18.3341V16.6675C2.5 12.5253 5.85786 9.16748 10 9.16748C14.1421 9.16748 17.5 12.5253 17.5 16.6675V18.3341C17.5 18.7944 17.1269 19.1675 16.6667 19.1675C16.2064 19.1675 15.8333 18.7944 15.8333 18.3341V16.6675C15.8333 13.4458 13.2217 10.8341 10 10.8341Z' fill='%23777E91'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 9.16781C11.8409 9.16781 13.3333 7.67542 13.3333 5.83447C13.3333 3.99352 11.8409 2.50114 10 2.50114C8.15905 2.50114 6.66667 3.99352 6.66667 5.83447C6.66667 7.67542 8.15905 9.16781 10 9.16781ZM10 10.8345C12.7614 10.8345 15 8.5959 15 5.83447C15 3.07305 12.7614 0.834473 10 0.834473C7.23858 0.834473 5 3.07305 5 5.83447C5 8.5959 7.23858 10.8345 10 10.8345Z' fill='%23777E91'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_756:11962'%3E%3Crect width='20' height='20' fill='white' transform='translate(0 0.000976562)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                &:hover{
                  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_756:11962)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 10.8341C6.77834 10.8341 4.16667 13.4458 4.16667 16.6675V18.3341C4.16667 18.7944 3.79357 19.1675 3.33333 19.1675C2.8731 19.1675 2.5 18.7944 2.5 18.3341V16.6675C2.5 12.5253 5.85786 9.16748 10 9.16748C14.1421 9.16748 17.5 12.5253 17.5 16.6675V18.3341C17.5 18.7944 17.1269 19.1675 16.6667 19.1675C16.2064 19.1675 15.8333 18.7944 15.8333 18.3341V16.6675C15.8333 13.4458 13.2217 10.8341 10 10.8341Z' fill='%23141416'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 9.16781C11.8409 9.16781 13.3333 7.67542 13.3333 5.83447C13.3333 3.99352 11.8409 2.50114 10 2.50114C8.15905 2.50114 6.66667 3.99352 6.66667 5.83447C6.66667 7.67542 8.15905 9.16781 10 9.16781ZM10 10.8345C12.7614 10.8345 15 8.5959 15 5.83447C15 3.07305 12.7614 0.834473 10 0.834473C7.23858 0.834473 5 3.07305 5 5.83447C5 8.5959 7.23858 10.8345 10 10.8345Z' fill='%23141416'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_756:11962'%3E%3Crect width='20' height='20' fill='white' transform='translate(0 0.000976562)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                }
              }
            }
            &.history{
              >a{
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_756:11970)'%3E%3Cpath d='M5.83333 2.50098C3.99238 2.50098 2.5 3.99336 2.5 5.83431V15.8343C2.5 17.6753 3.99238 19.1676 5.83333 19.1676H14.1667C16.0076 19.1676 17.5 17.6753 17.5 15.8343V5.83431C17.5 3.99336 16.0076 2.50098 14.1667 2.50098V4.16764C15.0871 4.16764 15.8333 4.91384 15.8333 5.83431V15.8343C15.8333 16.7548 15.0871 17.501 14.1667 17.501H5.83333C4.91286 17.501 4.16667 16.7548 4.16667 15.8343V5.83431C4.16667 4.91384 4.91286 4.16764 5.83333 4.16764V2.50098Z' fill='%23777E91'/%3E%3Cpath d='M6.66683 9.16764C7.12707 9.16764 7.50016 8.79455 7.50016 8.33431C7.50016 7.87407 7.12707 7.50098 6.66683 7.50098C6.20659 7.50098 5.8335 7.87407 5.8335 8.33431C5.8335 8.79455 6.20659 9.16764 6.66683 9.16764Z' fill='%23777E91'/%3E%3Cpath d='M10.0002 7.50098C9.53993 7.50098 9.16683 7.87407 9.16683 8.33431C9.16683 8.79455 9.53993 9.16764 10.0002 9.16764H13.3335C13.7937 9.16764 14.1668 8.79455 14.1668 8.33431C14.1668 7.87407 13.7937 7.50098 13.3335 7.50098H10.0002Z' fill='%23777E91'/%3E%3Cpath d='M10.0002 10.8343C9.53993 10.8343 9.16683 11.2074 9.16683 11.6676C9.16683 12.1279 9.53993 12.501 10.0002 12.501H13.3335C13.7937 12.501 14.1668 12.1279 14.1668 11.6676C14.1668 11.2074 13.7937 10.8343 13.3335 10.8343H10.0002Z' fill='%23777E91'/%3E%3Cpath d='M9.16683 15.001C9.16683 14.5407 9.53993 14.1676 10.0002 14.1676H11.6668C12.1271 14.1676 12.5002 14.5407 12.5002 15.001C12.5002 15.4612 12.1271 15.8343 11.6668 15.8343H10.0002C9.53993 15.8343 9.16683 15.4612 9.16683 15.001Z' fill='%23777E91'/%3E%3Cpath d='M7.50016 11.6676C7.50016 12.1279 7.12707 12.501 6.66683 12.501C6.20659 12.501 5.8335 12.1279 5.8335 11.6676C5.8335 11.2074 6.20659 10.8343 6.66683 10.8343C7.12707 10.8343 7.50016 11.2074 7.50016 11.6676Z' fill='%23777E91'/%3E%3Cpath d='M6.66683 15.8343C7.12707 15.8343 7.50016 15.4612 7.50016 15.001C7.50016 14.5407 7.12707 14.1676 6.66683 14.1676C6.20659 14.1676 5.8335 14.5407 5.8335 15.001C5.8335 15.4612 6.20659 15.8343 6.66683 15.8343Z' fill='%23777E91'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.5 2.50114H7.5C7.03976 2.50114 6.66667 2.87424 6.66667 3.33447C6.66667 3.79471 7.03976 4.16781 7.5 4.16781H12.5C12.9602 4.16781 13.3333 3.79471 13.3333 3.33447C13.3333 2.87424 12.9602 2.50114 12.5 2.50114ZM7.5 0.834473C6.11929 0.834473 5 1.95376 5 3.33447C5 4.71518 6.11929 5.83447 7.5 5.83447H12.5C13.8807 5.83447 15 4.71518 15 3.33447C15 1.95376 13.8807 0.834473 12.5 0.834473H7.5Z' fill='%23777E91'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_756:11970'%3E%3Crect width='20' height='20' fill='white' transform='translate(0 0.000976562)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                &:hover{
                  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_756:11970)'%3E%3Cpath d='M5.83333 2.50098C3.99238 2.50098 2.5 3.99336 2.5 5.83431V15.8343C2.5 17.6753 3.99238 19.1676 5.83333 19.1676H14.1667C16.0076 19.1676 17.5 17.6753 17.5 15.8343V5.83431C17.5 3.99336 16.0076 2.50098 14.1667 2.50098V4.16764C15.0871 4.16764 15.8333 4.91384 15.8333 5.83431V15.8343C15.8333 16.7548 15.0871 17.501 14.1667 17.501H5.83333C4.91286 17.501 4.16667 16.7548 4.16667 15.8343V5.83431C4.16667 4.91384 4.91286 4.16764 5.83333 4.16764V2.50098Z' fill='%23141416'/%3E%3Cpath d='M6.66683 9.16764C7.12707 9.16764 7.50016 8.79455 7.50016 8.33431C7.50016 7.87407 7.12707 7.50098 6.66683 7.50098C6.20659 7.50098 5.8335 7.87407 5.8335 8.33431C5.8335 8.79455 6.20659 9.16764 6.66683 9.16764Z' fill='%23141416'/%3E%3Cpath d='M10.0002 7.50098C9.53993 7.50098 9.16683 7.87407 9.16683 8.33431C9.16683 8.79455 9.53993 9.16764 10.0002 9.16764H13.3335C13.7937 9.16764 14.1668 8.79455 14.1668 8.33431C14.1668 7.87407 13.7937 7.50098 13.3335 7.50098H10.0002Z' fill='%23141416'/%3E%3Cpath d='M10.0002 10.8343C9.53993 10.8343 9.16683 11.2074 9.16683 11.6676C9.16683 12.1279 9.53993 12.501 10.0002 12.501H13.3335C13.7937 12.501 14.1668 12.1279 14.1668 11.6676C14.1668 11.2074 13.7937 10.8343 13.3335 10.8343H10.0002Z' fill='%23141416'/%3E%3Cpath d='M9.16683 15.001C9.16683 14.5407 9.53993 14.1676 10.0002 14.1676H11.6668C12.1271 14.1676 12.5002 14.5407 12.5002 15.001C12.5002 15.4612 12.1271 15.8343 11.6668 15.8343H10.0002C9.53993 15.8343 9.16683 15.4612 9.16683 15.001Z' fill='%23141416'/%3E%3Cpath d='M7.50016 11.6676C7.50016 12.1279 7.12707 12.501 6.66683 12.501C6.20659 12.501 5.8335 12.1279 5.8335 11.6676C5.8335 11.2074 6.20659 10.8343 6.66683 10.8343C7.12707 10.8343 7.50016 11.2074 7.50016 11.6676Z' fill='%23141416'/%3E%3Cpath d='M6.66683 15.8343C7.12707 15.8343 7.50016 15.4612 7.50016 15.001C7.50016 14.5407 7.12707 14.1676 6.66683 14.1676C6.20659 14.1676 5.8335 14.5407 5.8335 15.001C5.8335 15.4612 6.20659 15.8343 6.66683 15.8343Z' fill='%23141416'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.5 2.50114H7.5C7.03976 2.50114 6.66667 2.87424 6.66667 3.33447C6.66667 3.79471 7.03976 4.16781 7.5 4.16781H12.5C12.9602 4.16781 13.3333 3.79471 13.3333 3.33447C13.3333 2.87424 12.9602 2.50114 12.5 2.50114ZM7.5 0.834473C6.11929 0.834473 5 1.95376 5 3.33447C5 4.71518 6.11929 5.83447 7.5 5.83447H12.5C13.8807 5.83447 15 4.71518 15 3.33447C15 1.95376 13.8807 0.834473 12.5 0.834473H7.5Z' fill='%23141416'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_756:11970'%3E%3Crect width='20' height='20' fill='white' transform='translate(0 0.000976562)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                }
              }
            }
            &.logout{
              >a{
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.19107 12.5017C9.65098 12.4844 10.0379 12.8431 10.0552 13.303C10.0944 14.3399 10.1494 15.0966 10.2034 15.6392C10.2566 16.1735 10.5792 16.495 11.0289 16.5499C11.5591 16.6148 12.307 16.6678 13.3334 16.6678C14.3598 16.6678 15.1078 16.6148 15.638 16.5499C16.0874 16.495 16.4101 16.1734 16.4634 15.6389C16.5637 14.6318 16.6667 12.8918 16.6667 10.0011C16.6667 7.11046 16.5637 5.37048 16.4634 4.36337C16.4101 3.82891 16.0874 3.50728 15.638 3.45234C15.1078 3.38752 14.3598 3.33447 13.3334 3.33447C12.307 3.33447 11.5591 3.38751 11.0289 3.45233C10.5792 3.5073 10.2566 3.82879 10.2034 4.36311C10.1494 4.90568 10.0944 5.66242 10.0552 6.69924C10.0379 7.15915 9.65098 7.51791 9.19107 7.50055C8.73116 7.48318 8.3724 7.09628 8.38976 6.63637C8.42994 5.57217 8.4869 4.78066 8.54495 4.1979C8.667 2.97276 9.52117 1.95756 10.8266 1.79798C11.4343 1.72369 12.2507 1.6678 13.3334 1.6678C14.4161 1.6678 15.2325 1.7237 15.8402 1.79798C17.1458 1.95759 17.9998 2.97326 18.1218 4.19816C18.2293 5.27671 18.3334 7.07487 18.3334 10.0011C18.3334 12.9274 18.2293 14.7256 18.1218 15.8041C17.9998 17.029 17.1458 18.0447 15.8402 18.2043C15.2325 18.2786 14.4161 18.3345 13.3334 18.3345C12.2507 18.3345 11.4343 18.2786 10.8266 18.2043C9.52117 18.0447 8.667 17.0295 8.54495 15.8044C8.4869 15.2216 8.42994 14.4301 8.38976 13.3659C8.3724 12.906 8.73116 12.5191 9.19107 12.5017Z' fill='%23777E91'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.00576 12.3284C6.3312 12.6538 6.3312 13.1815 6.00576 13.5069C5.68032 13.8323 5.15269 13.8323 4.82725 13.5069L1.91058 10.5902C1.58514 10.2648 1.58514 9.73716 1.91058 9.41172L4.82725 6.49505C5.15269 6.16962 5.68032 6.16962 6.00576 6.49505C6.3312 6.82049 6.3312 7.34813 6.00576 7.67357L4.51168 9.16764H12.4998C12.9601 9.16764 13.3332 9.54074 13.3332 10.001C13.3332 10.4612 12.9601 10.8343 12.4998 10.8343L4.51168 10.8343L6.00576 12.3284Z' fill='%23777E91'/%3E%3C/svg%3E%0A");
                &:hover{
                  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.19107 12.5017C9.65098 12.4844 10.0379 12.8431 10.0552 13.303C10.0944 14.3399 10.1494 15.0966 10.2034 15.6392C10.2566 16.1735 10.5792 16.495 11.0289 16.5499C11.5591 16.6148 12.307 16.6678 13.3334 16.6678C14.3598 16.6678 15.1078 16.6148 15.638 16.5499C16.0874 16.495 16.4101 16.1734 16.4634 15.6389C16.5637 14.6318 16.6667 12.8918 16.6667 10.0011C16.6667 7.11046 16.5637 5.37048 16.4634 4.36337C16.4101 3.82891 16.0874 3.50728 15.638 3.45234C15.1078 3.38752 14.3598 3.33447 13.3334 3.33447C12.307 3.33447 11.5591 3.38751 11.0289 3.45233C10.5792 3.5073 10.2566 3.82879 10.2034 4.36311C10.1494 4.90568 10.0944 5.66242 10.0552 6.69924C10.0379 7.15915 9.65098 7.51791 9.19107 7.50055C8.73116 7.48318 8.3724 7.09628 8.38976 6.63637C8.42994 5.57217 8.4869 4.78066 8.54495 4.1979C8.667 2.97276 9.52117 1.95756 10.8266 1.79798C11.4343 1.72369 12.2507 1.6678 13.3334 1.6678C14.4161 1.6678 15.2325 1.7237 15.8402 1.79798C17.1458 1.95759 17.9998 2.97326 18.1218 4.19816C18.2293 5.27671 18.3334 7.07487 18.3334 10.0011C18.3334 12.9274 18.2293 14.7256 18.1218 15.8041C17.9998 17.029 17.1458 18.0447 15.8402 18.2043C15.2325 18.2786 14.4161 18.3345 13.3334 18.3345C12.2507 18.3345 11.4343 18.2786 10.8266 18.2043C9.52117 18.0447 8.667 17.0295 8.54495 15.8044C8.4869 15.2216 8.42994 14.4301 8.38976 13.3659C8.3724 12.906 8.73116 12.5191 9.19107 12.5017Z' fill='%23141416'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.00576 12.3284C6.3312 12.6538 6.3312 13.1815 6.00576 13.5069C5.68032 13.8323 5.15269 13.8323 4.82725 13.5069L1.91058 10.5902C1.58514 10.2648 1.58514 9.73716 1.91058 9.41172L4.82725 6.49505C5.15269 6.16962 5.68032 6.16962 6.00576 6.49505C6.3312 6.82049 6.3312 7.34813 6.00576 7.67357L4.51168 9.16764H12.4998C12.9601 9.16764 13.3332 9.54074 13.3332 10.001C13.3332 10.4612 12.9601 10.8343 12.4998 10.8343L4.51168 10.8343L6.00576 12.3284Z' fill='%23141416'/%3E%3C/svg%3E%0A");
                }
              }
            }
          }
        }
      }
    }
    &__cart{
      cursor: pointer;
      display: inline-block;
      position: relative;
      width: 24px;
      height: 24px;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.95114 12C5.64217 12 5.40715 12.2774 5.45795 12.5822L6.41571 18.3288C6.57644 19.2932 7.41082 20 8.3885 20H15.6115C16.5892 20 17.4235 19.2932 17.5843 18.3288L18.542 12.5822C18.5928 12.2774 18.3578 12 18.0488 12H5.95114ZM4.18045 10C3.56251 10 3.09247 10.5549 3.19406 11.1644L4.44293 18.6576C4.76438 20.5863 6.43314 22 8.3885 22H15.6115C17.5668 22 19.2356 20.5863 19.5571 18.6576L20.8059 11.1644C20.9075 10.5549 20.4375 10 19.8195 10H4.18045Z' fill='%23777E91'/%3E%3Cpath d='M10 14C9.44772 14 9 14.4477 9 15V17C9 17.5523 9.44772 18 10 18C10.5523 18 11 17.5523 11 17V15C11 14.4477 10.5523 14 10 14Z' fill='%23777E91'/%3E%3Cpath d='M14 14C13.4477 14 13 14.4477 13 15V17C13 17.5523 13.4477 18 14 18C14.5523 18 15 17.5523 15 17V15C15 14.4477 14.5523 14 14 14Z' fill='%23777E91'/%3E%3Cpath d='M10.7071 3.70711C11.0976 3.31658 11.0976 2.68342 10.7071 2.29289C10.3166 1.90237 9.68342 1.90237 9.29289 2.29289L5.29289 6.29289C4.90237 6.68342 4.90237 7.31658 5.29289 7.70711C5.68342 8.09763 6.31658 8.09763 6.70711 7.70711L10.7071 3.70711Z' fill='%23777E91'/%3E%3Cpath d='M13.2929 3.70711C12.9024 3.31658 12.9024 2.68342 13.2929 2.29289C13.6834 1.90237 14.3166 1.90237 14.7071 2.29289L18.7071 6.29289C19.0976 6.68342 19.0976 7.31658 18.7071 7.70711C18.3166 8.09763 17.6834 8.09763 17.2929 7.70711L13.2929 3.70711Z' fill='%23777E91'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19 8H5C4.44772 8 4 8.44772 4 9C4 9.55229 4.44772 10 5 10H19C19.5523 10 20 9.55228 20 9C20 8.44771 19.5523 8 19 8ZM5 6C3.34315 6 2 7.34315 2 9C2 10.6569 3.34315 12 5 12H19C20.6569 12 22 10.6569 22 9C22 7.34315 20.6569 6 19 6H5Z' fill='%23777E91'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      &:focus{
        outline: none;
      }
      &[aria-expanded="true"],
      &:hover{
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.95114 12C5.64217 12 5.40715 12.2774 5.45795 12.5822L6.41571 18.3288C6.57644 19.2932 7.41082 20 8.3885 20H15.6115C16.5892 20 17.4235 19.2932 17.5843 18.3288L18.542 12.5822C18.5928 12.2774 18.3578 12 18.0488 12H5.95114ZM4.18045 10C3.56251 10 3.09247 10.5549 3.19406 11.1644L4.44293 18.6576C4.76438 20.5863 6.43314 22 8.3885 22H15.6115C17.5668 22 19.2356 20.5863 19.5571 18.6576L20.8059 11.1644C20.9075 10.5549 20.4375 10 19.8195 10H4.18045Z' fill='%23353945'/%3E%3Cpath d='M10 14C9.44772 14 9 14.4477 9 15V17C9 17.5523 9.44772 18 10 18C10.5523 18 11 17.5523 11 17V15C11 14.4477 10.5523 14 10 14Z' fill='%23353945'/%3E%3Cpath d='M14 14C13.4477 14 13 14.4477 13 15V17C13 17.5523 13.4477 18 14 18C14.5523 18 15 17.5523 15 17V15C15 14.4477 14.5523 14 14 14Z' fill='%23353945'/%3E%3Cpath d='M10.7071 3.70711C11.0976 3.31658 11.0976 2.68342 10.7071 2.29289C10.3166 1.90237 9.68342 1.90237 9.29289 2.29289L5.29289 6.29289C4.90237 6.68342 4.90237 7.31658 5.29289 7.70711C5.68342 8.09763 6.31658 8.09763 6.70711 7.70711L10.7071 3.70711Z' fill='%23353945'/%3E%3Cpath d='M13.2929 3.70711C12.9024 3.31658 12.9024 2.68342 13.2929 2.29289C13.6834 1.90237 14.3166 1.90237 14.7071 2.29289L18.7071 6.29289C19.0976 6.68342 19.0976 7.31658 18.7071 7.70711C18.3166 8.09763 17.6834 8.09763 17.2929 7.70711L13.2929 3.70711Z' fill='%23353945'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19 8H5C4.44772 8 4 8.44772 4 9C4 9.55229 4.44772 10 5 10H19C19.5523 10 20 9.55228 20 9C20 8.44771 19.5523 8 19 8ZM5 6C3.34315 6 2 7.34315 2 9C2 10.6569 3.34315 12 5 12H19C20.6569 12 22 10.6569 22 9C22 7.34315 20.6569 6 19 6H5Z' fill='%23353945'/%3E%3C/svg%3E%0A");
      }
      &[data-count]{
        position: relative;
        &:before{
          position: absolute;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          border: 2px solid #ffffff;
          box-sizing: border-box;
          content: attr(data-count);
          color: #ffffff;
          width: 16px;
          height: 16px;
          background-color: #E73C3D;
          top: -5px;
          right: -4px;
          font-family: $font-SVNGilroy-Bold;
          @extend .fz-10;
        }
      }
      & + .uk-dropdown{
        min-width: 332px;
        background: #FFFFFF;
        box-shadow: 0 4px 30px rgba(27, 25, 86, 0.1);
        border-radius: 12px;
        padding: 10px 15px;
        >*{
          margin-left: 0;
          &:nth-child(n+2){
            margin-top: 10px;
          }
        }
        .uk-h5{
          color: #1D1E41;
          @extend .fz-16;
          font-family: $font-SVNGilroy-XBold;
          border-bottom: 1px solid #E6E8EC;
          padding-bottom: 10px;
        }
      }
      &__txtEmpty{
        text-align: center;
        color: #B1B5C3;
        @extend .fz-14;
        line-height: (22/14);
        font-family: $font-SVNGilroy-Medium;
      }
    }
    &__search{
      svg{
        &:hover{
          path{
            fill: #353945;
          }
        }
      }
    }
    &__bell{
      cursor: pointer;
      display: inline-block;
      position: relative;
      width: 24px;
      height: 24px;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 18.0233C21 18.5113 20.6043 18.907 20.1163 18.907H3.88372C3.39565 18.907 3 18.5113 3 18.0233C3 17.5352 3.39566 17.1395 3.88372 17.1395H3.9V10.9809C3.9 6.57288 7.527 3 12 3C16.473 3 20.1 6.57288 20.1 10.9809V17.1395H20.1163C20.6043 17.1395 21 17.5352 21 18.0233ZM5.7 17.1395H18.3V10.9809C18.3 7.5494 15.4794 4.76744 12 4.76744C8.5206 4.76744 5.7 7.5494 5.7 10.9809V17.1395ZM9.97604 20.7558C9.73121 20.2608 10.1977 19.7907 10.75 19.7907H13.25C13.8023 19.7907 14.2688 20.2608 14.024 20.7558C13.9155 20.9751 13.7699 21.1773 13.591 21.3529C13.169 21.7672 12.5967 22 12 22C11.4033 22 10.831 21.7672 10.409 21.3529C10.2301 21.1773 10.0845 20.9751 9.97604 20.7558Z' fill='%23777E91'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      &:focus{
        outline: none;
      }
      &[aria-expanded="true"],
      &:hover{
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 18.0233C21 18.5113 20.6043 18.907 20.1163 18.907H3.88372C3.39565 18.907 3 18.5113 3 18.0233C3 17.5352 3.39566 17.1395 3.88372 17.1395H3.9V10.9809C3.9 6.57288 7.527 3 12 3C16.473 3 20.1 6.57288 20.1 10.9809V17.1395H20.1163C20.6043 17.1395 21 17.5352 21 18.0233ZM5.7 17.1395H18.3V10.9809C18.3 7.5494 15.4794 4.76744 12 4.76744C8.5206 4.76744 5.7 7.5494 5.7 10.9809V17.1395ZM9.97604 20.7558C9.73121 20.2608 10.1977 19.7907 10.75 19.7907H13.25C13.8023 19.7907 14.2688 20.2608 14.024 20.7558C13.9155 20.9751 13.7699 21.1773 13.591 21.3529C13.169 21.7672 12.5967 22 12 22C11.4033 22 10.831 21.7672 10.409 21.3529C10.2301 21.1773 10.0845 20.9751 9.97604 20.7558Z' fill='%23353945'/%3E%3C/svg%3E%0A");
      }
      &:before{
        content: "";
        position: absolute;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 2px solid #ffffff;
        box-sizing: border-box;
      }
      &:not(.notify){
        &:before{
          width: 12px;
          height: 12px;
          background-color: #45B26B;
          top: -2px;
          right: -1px;
        }
      }
      &.notify{
        &:before{
          content: attr(data-count);
          color: #ffffff;
          width: 16px;
          height: 16px;
          background-color: #E73C3D;
          top: -4px;
          right: -3px;
          font-family: $font-SVNGilroy-Bold;
          @extend .fz-10;
        }
      }
      & + .uk-dropdown{
        min-width: 273px;
        background: #FFFFFF;
        box-shadow: 0 4px 30px rgba(27, 25, 86, 0.1);
        border-radius: 12px;
        padding: 0;
      }
    }
  }
  &__user{
    &__txt{
      color: #A7A5A5;
      line-height: (17/16);
      @extend .fz-16;
      font-family: $font-SVNGilroy-SemiBold;
      span{
        color: #141416;
      }
    }
  }
  &__listNotify{
    overflow: hidden;
    border-radius: 12px;
    background: #FFFFFF;
    >li{
      margin: 0 !important;
      >a{
        display: block;
        padding: 10px 15px;
      }
    }
    &__li{

    }
    &__link{
      &:hover{
        background-color: rgba(#5BCCF9,0.15);
      }
    }
    &__coverImg{
      background-color: #F4F5F6;
      .header__listNotify__link:hover &{
        background-color: #fff;
      }
    }
    &__txt{
      font-family: $font-SVNGilroy-Medium;
      color: #000;
      line-height: (22/14);
      @extend .fz-14;
      span{
        color: #3772FF;
        font-family: $font-SVNGilroy-SemiBold;
      }
    }
  }
}