.header{
  position: relative;
  .uk-container{
    @include media-breakpoint-up('m'){
      max-width: calc(#{$container} + 30px);
    }
  }
  &__top{
    background-color: #F4F5F6;
    .uk-navbar-item{
      min-height: 40px;
    }
    &__txt{
      color: #777E90;
      line-height: (20/12);
      @extend .fz-12;
      font-family: $font-SVNGilroy-Medium;
      span{
        color: #000;
      }
    }
  }
  &__mobile{
    &__icon{
      width: 32px;
      height: 32px;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center;
      &--bell{
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.2 12.6736V12.2C23.2 8.224 19.976 5 16 5C12.024 5 8.8 8.224 8.8 12.2V12.6736C8.8 14.9504 7.5888 17.0672 5.6128 18.2C4.5872 18.7888 4 19.4704 4 20.2C4 22.4096 9.3728 24.2 16 24.2C22.6272 24.2 28 22.4096 28 20.2C28 19.4704 27.4128 18.7888 26.3872 18.2C24.4112 17.0688 23.2 14.9504 23.2 12.6736Z' stroke='%23777E90' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19.6672 26.6001C19.0496 28.0129 17.64 29.0001 16 29.0001C14.36 29.0001 12.952 28.0129 12.3328 26.6017' stroke='%23777E90' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
      &--cart{
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.93482 16.0002C7.52286 16.0002 7.2095 16.3701 7.27722 16.7764L8.55424 24.4386C8.76855 25.7244 9.88106 26.6668 11.1846 26.6668H20.8153C22.1188 26.6668 23.2314 25.7244 23.4457 24.4386L24.7227 16.7764C24.7904 16.3701 24.477 16.0002 24.0651 16.0002H7.93482ZM5.5739 13.3335C4.74998 13.3335 4.12325 14.0733 4.25871 14.886L5.92386 24.877C6.35247 27.4486 8.57749 29.3335 11.1846 29.3335H20.8153C23.4224 29.3335 25.6474 27.4486 26.076 24.877L27.7412 14.886C27.8766 14.0733 27.2499 13.3335 26.426 13.3335H5.5739Z' fill='%23777E90'/%3E%3Cpath d='M13.3333 18.6665C12.597 18.6665 12 19.2635 12 19.9998V22.6665C12 23.4029 12.597 23.9998 13.3333 23.9998C14.0697 23.9998 14.6667 23.4029 14.6667 22.6665V19.9998C14.6667 19.2635 14.0697 18.6665 13.3333 18.6665Z' fill='%23777E90'/%3E%3Cpath d='M18.6667 18.6665C17.9303 18.6665 17.3333 19.2635 17.3333 19.9998V22.6665C17.3333 23.4029 17.9303 23.9998 18.6667 23.9998C19.403 23.9998 20 23.4029 20 22.6665V19.9998C20 19.2635 19.403 18.6665 18.6667 18.6665Z' fill='%23777E90'/%3E%3Cpath d='M14.2761 4.94265C14.7968 4.42195 14.7968 3.57773 14.2761 3.05703C13.7554 2.53633 12.9112 2.53633 12.3905 3.05703L7.05715 8.39036C6.53645 8.91106 6.53645 9.75528 7.05715 10.276C7.57785 10.7967 8.42207 10.7967 8.94277 10.276L14.2761 4.94265Z' fill='%23777E90'/%3E%3Cpath d='M17.7238 4.94265C17.2031 4.42195 17.2031 3.57773 17.7238 3.05703C18.2445 2.53633 19.0887 2.53633 19.6094 3.05703L24.9428 8.39036C25.4635 8.91106 25.4635 9.75528 24.9428 10.276C24.4221 10.7967 23.5778 10.7967 23.0572 10.276L17.7238 4.94265Z' fill='%23777E90'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.3333 10.6667H6.66663C5.93025 10.6667 5.33329 11.2636 5.33329 12C5.33329 12.7364 5.93025 13.3333 6.66663 13.3333H25.3333C26.0697 13.3333 26.6666 12.7364 26.6666 12C26.6666 11.2636 26.0697 10.6667 25.3333 10.6667ZM6.66663 8C4.45749 8 2.66663 9.79086 2.66663 12C2.66663 14.2091 4.45749 16 6.66663 16H25.3333C27.5424 16 29.3333 14.2091 29.3333 12C29.3333 9.79086 27.5424 8 25.3333 8H6.66663Z' fill='%23777E90'/%3E%3C/svg%3E%0A");
      }
      &--user{
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 2.6665C13.414 2.67142 10.8852 3.42825 8.72166 4.84482C6.55812 6.26139 4.85322 8.27656 3.81461 10.6449C2.77601 13.0132 2.44853 15.6324 2.87206 18.1835C3.29559 20.7346 4.45186 23.1075 6.20002 25.0132C7.44859 26.3666 8.96395 27.4467 10.6506 28.1854C12.3373 28.9242 14.1587 29.3056 16 29.3056C17.8414 29.3056 19.6628 28.9242 21.3494 28.1854C23.0361 27.4467 24.5515 26.3666 25.8 25.0132C27.5482 23.1075 28.7045 20.7346 29.128 18.1835C29.5515 15.6324 29.224 13.0132 28.1854 10.6449C27.1468 8.27656 25.4419 6.26139 23.2784 4.84482C21.1148 3.42825 18.5861 2.67142 16 2.6665ZM16 26.6665C13.238 26.6623 10.5852 25.5869 8.60002 23.6665C9.20275 22.1992 10.2281 20.9442 11.5457 20.061C12.8633 19.1778 14.4138 18.7062 16 18.7062C17.5863 18.7062 19.1367 19.1778 20.4544 20.061C21.772 20.9442 22.7973 22.1992 23.4 23.6665C21.4148 25.5869 18.7621 26.6623 16 26.6665ZM13.3334 13.3332C13.3334 12.8058 13.4898 12.2902 13.7828 11.8516C14.0758 11.4131 14.4923 11.0713 14.9795 10.8695C15.4668 10.6677 16.003 10.6148 16.5203 10.7177C17.0375 10.8206 17.5127 11.0746 17.8856 11.4476C18.2586 11.8205 18.5126 12.2956 18.6155 12.8129C18.7183 13.3302 18.6655 13.8664 18.4637 14.3537C18.2619 14.8409 17.9201 15.2574 17.4815 15.5504C17.043 15.8434 16.5274 15.9998 16 15.9998C15.2928 15.9998 14.6145 15.7189 14.1144 15.2188C13.6143 14.7187 13.3334 14.0404 13.3334 13.3332ZM25.2134 21.3332C24.0221 19.2955 22.1886 17.7105 20 16.8265C20.6789 16.0567 21.1213 15.1074 21.274 14.0924C21.4267 13.0775 21.2833 12.04 20.861 11.1045C20.4387 10.169 19.7555 9.37525 18.8932 8.81846C18.031 8.26167 17.0264 7.9655 16 7.9655C14.9736 7.9655 13.9691 8.26167 13.1068 8.81846C12.2446 9.37525 11.5613 10.169 11.139 11.1045C10.7167 12.04 10.5733 13.0775 10.7261 14.0924C10.8788 15.1074 11.3211 16.0567 12 16.8265C9.81149 17.7105 7.97798 19.2955 6.78669 21.3332C5.83728 19.716 5.33565 17.8751 5.33336 15.9998C5.33336 13.1709 6.45716 10.4578 8.45755 8.45736C10.4579 6.45698 13.171 5.33317 16 5.33317C18.829 5.33317 21.5421 6.45698 23.5425 8.45736C25.5429 10.4578 26.6667 13.1709 26.6667 15.9998C26.6644 17.8751 26.1628 19.716 25.2134 21.3332Z' fill='%23777E90'/%3E%3C/svg%3E%0A");
      }
      &--nav{
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 11L25 11' stroke='%23777E90' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M7 16L25 16' stroke='%23777E90' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M16 21L25 21' stroke='%23777E90' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      }
    }
  }
  &__bottom{
    background-color: #fff;
    z-index: 999;
    &.uk-sticky-fixed{
      @include media-breakpoint-up('m'){
        box-shadow: 0 5px 15px rgba(0,0,0,0.08);
        z-index: 999;
      }
    }
    &.uk-sticky-below{
      //box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
      //box-shadow: 0 5px 15px rgba(0,0,0,0.08);
      //z-index: 999;
    }
    .uk-logo{
      img{
        @include fluidx(48px,42px,height);
      }
    }
    .uk-navbar-toggle,
    .uk-navbar-item{
      @extend .header__bottom__navbarItem;
    }
    .uk-navbar-nav{
      >li{
        >a{
          @extend .header__bottom__navbarItem;
          color: #1D1E41;
          @extend .fz-16;
          font-family: $font-SVNGilroy-SemiBold;
          text-transform: inherit;
          background-repeat: no-repeat;
          background-position: center right -4px;
          &:hover{
            color: #3772FF;
          }
          &[aria-expanded="false"]{
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%231D1E41' stroke-width='1.03' points='16 7 10 13 4 7'%3E%3C/polyline%3E%3C/svg%3E");
          }
          &[aria-expanded="true"]{
            color: #3772FF;
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%233772FF' stroke-width='1.03' points='4 13 10 7 16 13'%3E%3C/polyline%3E%3C/svg%3E");
          }
        }
      }
    }
    &__navbarItem{
      min-height: 60px;
      @include media-breakpoint-up('m'){
        min-height: 76px;
      }
    }
    &__divider{
      position: relative;
      @include media-breakpoint-up('m'){
        margin-left: 100px;
      }
      &:after{
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 1px;
        height: 40px;
        background-color: #E6E8EC;
        display: inline-block;
      }
    }
    &__btn{
      border-radius: 8px;
      line-height: 44px;
      text-transform: inherit;
      @extend .fz-14;
      font-family: $font-SVNGilroy-Bold;
      &:nth-child(n+2){
        margin-left: 16px;
      }
      &--login{
        background-color: #3772FF;
      }
      &--register{
        background-color: #f7f7f7;
      }
    }
    &__profile{
      cursor: pointer;
      & + .uk-dropdown{
        min-width: 256px;
        background: #FFFFFF;
        box-shadow: 0 4px 30px rgba(27, 25, 86, 0.1);
        border-radius: 12px;
        padding: 10px 15px;
        .uk-nav{
          >li{
            &:nth-child(n+2){
              >a{
                border-top: 1px solid #E6E8EC;
              }
            }
            >a{
              color: #777E91;
              @extend .fz-14;
              font-family: $font-SVNGilroy-Bold;
              padding: 10px 0;
              padding-left: 30px;
              background-repeat: no-repeat;
              background-position: center left;
              &:hover{
                color: #141416;
              }
            }
            &.acc{
              >a{
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_756:11962)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 10.8341C6.77834 10.8341 4.16667 13.4458 4.16667 16.6675V18.3341C4.16667 18.7944 3.79357 19.1675 3.33333 19.1675C2.8731 19.1675 2.5 18.7944 2.5 18.3341V16.6675C2.5 12.5253 5.85786 9.16748 10 9.16748C14.1421 9.16748 17.5 12.5253 17.5 16.6675V18.3341C17.5 18.7944 17.1269 19.1675 16.6667 19.1675C16.2064 19.1675 15.8333 18.7944 15.8333 18.3341V16.6675C15.8333 13.4458 13.2217 10.8341 10 10.8341Z' fill='%23777E91'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 9.16781C11.8409 9.16781 13.3333 7.67542 13.3333 5.83447C13.3333 3.99352 11.8409 2.50114 10 2.50114C8.15905 2.50114 6.66667 3.99352 6.66667 5.83447C6.66667 7.67542 8.15905 9.16781 10 9.16781ZM10 10.8345C12.7614 10.8345 15 8.5959 15 5.83447C15 3.07305 12.7614 0.834473 10 0.834473C7.23858 0.834473 5 3.07305 5 5.83447C5 8.5959 7.23858 10.8345 10 10.8345Z' fill='%23777E91'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_756:11962'%3E%3Crect width='20' height='20' fill='white' transform='translate(0 0.000976562)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                &:hover{
                  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_756:11962)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 10.8341C6.77834 10.8341 4.16667 13.4458 4.16667 16.6675V18.3341C4.16667 18.7944 3.79357 19.1675 3.33333 19.1675C2.8731 19.1675 2.5 18.7944 2.5 18.3341V16.6675C2.5 12.5253 5.85786 9.16748 10 9.16748C14.1421 9.16748 17.5 12.5253 17.5 16.6675V18.3341C17.5 18.7944 17.1269 19.1675 16.6667 19.1675C16.2064 19.1675 15.8333 18.7944 15.8333 18.3341V16.6675C15.8333 13.4458 13.2217 10.8341 10 10.8341Z' fill='%23141416'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 9.16781C11.8409 9.16781 13.3333 7.67542 13.3333 5.83447C13.3333 3.99352 11.8409 2.50114 10 2.50114C8.15905 2.50114 6.66667 3.99352 6.66667 5.83447C6.66667 7.67542 8.15905 9.16781 10 9.16781ZM10 10.8345C12.7614 10.8345 15 8.5959 15 5.83447C15 3.07305 12.7614 0.834473 10 0.834473C7.23858 0.834473 5 3.07305 5 5.83447C5 8.5959 7.23858 10.8345 10 10.8345Z' fill='%23141416'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_756:11962'%3E%3Crect width='20' height='20' fill='white' transform='translate(0 0.000976562)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                }
              }
            }
            &.history{
              >a{
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_756:11970)'%3E%3Cpath d='M5.83333 2.50098C3.99238 2.50098 2.5 3.99336 2.5 5.83431V15.8343C2.5 17.6753 3.99238 19.1676 5.83333 19.1676H14.1667C16.0076 19.1676 17.5 17.6753 17.5 15.8343V5.83431C17.5 3.99336 16.0076 2.50098 14.1667 2.50098V4.16764C15.0871 4.16764 15.8333 4.91384 15.8333 5.83431V15.8343C15.8333 16.7548 15.0871 17.501 14.1667 17.501H5.83333C4.91286 17.501 4.16667 16.7548 4.16667 15.8343V5.83431C4.16667 4.91384 4.91286 4.16764 5.83333 4.16764V2.50098Z' fill='%23777E91'/%3E%3Cpath d='M6.66683 9.16764C7.12707 9.16764 7.50016 8.79455 7.50016 8.33431C7.50016 7.87407 7.12707 7.50098 6.66683 7.50098C6.20659 7.50098 5.8335 7.87407 5.8335 8.33431C5.8335 8.79455 6.20659 9.16764 6.66683 9.16764Z' fill='%23777E91'/%3E%3Cpath d='M10.0002 7.50098C9.53993 7.50098 9.16683 7.87407 9.16683 8.33431C9.16683 8.79455 9.53993 9.16764 10.0002 9.16764H13.3335C13.7937 9.16764 14.1668 8.79455 14.1668 8.33431C14.1668 7.87407 13.7937 7.50098 13.3335 7.50098H10.0002Z' fill='%23777E91'/%3E%3Cpath d='M10.0002 10.8343C9.53993 10.8343 9.16683 11.2074 9.16683 11.6676C9.16683 12.1279 9.53993 12.501 10.0002 12.501H13.3335C13.7937 12.501 14.1668 12.1279 14.1668 11.6676C14.1668 11.2074 13.7937 10.8343 13.3335 10.8343H10.0002Z' fill='%23777E91'/%3E%3Cpath d='M9.16683 15.001C9.16683 14.5407 9.53993 14.1676 10.0002 14.1676H11.6668C12.1271 14.1676 12.5002 14.5407 12.5002 15.001C12.5002 15.4612 12.1271 15.8343 11.6668 15.8343H10.0002C9.53993 15.8343 9.16683 15.4612 9.16683 15.001Z' fill='%23777E91'/%3E%3Cpath d='M7.50016 11.6676C7.50016 12.1279 7.12707 12.501 6.66683 12.501C6.20659 12.501 5.8335 12.1279 5.8335 11.6676C5.8335 11.2074 6.20659 10.8343 6.66683 10.8343C7.12707 10.8343 7.50016 11.2074 7.50016 11.6676Z' fill='%23777E91'/%3E%3Cpath d='M6.66683 15.8343C7.12707 15.8343 7.50016 15.4612 7.50016 15.001C7.50016 14.5407 7.12707 14.1676 6.66683 14.1676C6.20659 14.1676 5.8335 14.5407 5.8335 15.001C5.8335 15.4612 6.20659 15.8343 6.66683 15.8343Z' fill='%23777E91'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.5 2.50114H7.5C7.03976 2.50114 6.66667 2.87424 6.66667 3.33447C6.66667 3.79471 7.03976 4.16781 7.5 4.16781H12.5C12.9602 4.16781 13.3333 3.79471 13.3333 3.33447C13.3333 2.87424 12.9602 2.50114 12.5 2.50114ZM7.5 0.834473C6.11929 0.834473 5 1.95376 5 3.33447C5 4.71518 6.11929 5.83447 7.5 5.83447H12.5C13.8807 5.83447 15 4.71518 15 3.33447C15 1.95376 13.8807 0.834473 12.5 0.834473H7.5Z' fill='%23777E91'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_756:11970'%3E%3Crect width='20' height='20' fill='white' transform='translate(0 0.000976562)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                &:hover{
                  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_756:11970)'%3E%3Cpath d='M5.83333 2.50098C3.99238 2.50098 2.5 3.99336 2.5 5.83431V15.8343C2.5 17.6753 3.99238 19.1676 5.83333 19.1676H14.1667C16.0076 19.1676 17.5 17.6753 17.5 15.8343V5.83431C17.5 3.99336 16.0076 2.50098 14.1667 2.50098V4.16764C15.0871 4.16764 15.8333 4.91384 15.8333 5.83431V15.8343C15.8333 16.7548 15.0871 17.501 14.1667 17.501H5.83333C4.91286 17.501 4.16667 16.7548 4.16667 15.8343V5.83431C4.16667 4.91384 4.91286 4.16764 5.83333 4.16764V2.50098Z' fill='%23141416'/%3E%3Cpath d='M6.66683 9.16764C7.12707 9.16764 7.50016 8.79455 7.50016 8.33431C7.50016 7.87407 7.12707 7.50098 6.66683 7.50098C6.20659 7.50098 5.8335 7.87407 5.8335 8.33431C5.8335 8.79455 6.20659 9.16764 6.66683 9.16764Z' fill='%23141416'/%3E%3Cpath d='M10.0002 7.50098C9.53993 7.50098 9.16683 7.87407 9.16683 8.33431C9.16683 8.79455 9.53993 9.16764 10.0002 9.16764H13.3335C13.7937 9.16764 14.1668 8.79455 14.1668 8.33431C14.1668 7.87407 13.7937 7.50098 13.3335 7.50098H10.0002Z' fill='%23141416'/%3E%3Cpath d='M10.0002 10.8343C9.53993 10.8343 9.16683 11.2074 9.16683 11.6676C9.16683 12.1279 9.53993 12.501 10.0002 12.501H13.3335C13.7937 12.501 14.1668 12.1279 14.1668 11.6676C14.1668 11.2074 13.7937 10.8343 13.3335 10.8343H10.0002Z' fill='%23141416'/%3E%3Cpath d='M9.16683 15.001C9.16683 14.5407 9.53993 14.1676 10.0002 14.1676H11.6668C12.1271 14.1676 12.5002 14.5407 12.5002 15.001C12.5002 15.4612 12.1271 15.8343 11.6668 15.8343H10.0002C9.53993 15.8343 9.16683 15.4612 9.16683 15.001Z' fill='%23141416'/%3E%3Cpath d='M7.50016 11.6676C7.50016 12.1279 7.12707 12.501 6.66683 12.501C6.20659 12.501 5.8335 12.1279 5.8335 11.6676C5.8335 11.2074 6.20659 10.8343 6.66683 10.8343C7.12707 10.8343 7.50016 11.2074 7.50016 11.6676Z' fill='%23141416'/%3E%3Cpath d='M6.66683 15.8343C7.12707 15.8343 7.50016 15.4612 7.50016 15.001C7.50016 14.5407 7.12707 14.1676 6.66683 14.1676C6.20659 14.1676 5.8335 14.5407 5.8335 15.001C5.8335 15.4612 6.20659 15.8343 6.66683 15.8343Z' fill='%23141416'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.5 2.50114H7.5C7.03976 2.50114 6.66667 2.87424 6.66667 3.33447C6.66667 3.79471 7.03976 4.16781 7.5 4.16781H12.5C12.9602 4.16781 13.3333 3.79471 13.3333 3.33447C13.3333 2.87424 12.9602 2.50114 12.5 2.50114ZM7.5 0.834473C6.11929 0.834473 5 1.95376 5 3.33447C5 4.71518 6.11929 5.83447 7.5 5.83447H12.5C13.8807 5.83447 15 4.71518 15 3.33447C15 1.95376 13.8807 0.834473 12.5 0.834473H7.5Z' fill='%23141416'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_756:11970'%3E%3Crect width='20' height='20' fill='white' transform='translate(0 0.000976562)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                }
              }
            }
            &.logout{
              >a{
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.19107 12.5017C9.65098 12.4844 10.0379 12.8431 10.0552 13.303C10.0944 14.3399 10.1494 15.0966 10.2034 15.6392C10.2566 16.1735 10.5792 16.495 11.0289 16.5499C11.5591 16.6148 12.307 16.6678 13.3334 16.6678C14.3598 16.6678 15.1078 16.6148 15.638 16.5499C16.0874 16.495 16.4101 16.1734 16.4634 15.6389C16.5637 14.6318 16.6667 12.8918 16.6667 10.0011C16.6667 7.11046 16.5637 5.37048 16.4634 4.36337C16.4101 3.82891 16.0874 3.50728 15.638 3.45234C15.1078 3.38752 14.3598 3.33447 13.3334 3.33447C12.307 3.33447 11.5591 3.38751 11.0289 3.45233C10.5792 3.5073 10.2566 3.82879 10.2034 4.36311C10.1494 4.90568 10.0944 5.66242 10.0552 6.69924C10.0379 7.15915 9.65098 7.51791 9.19107 7.50055C8.73116 7.48318 8.3724 7.09628 8.38976 6.63637C8.42994 5.57217 8.4869 4.78066 8.54495 4.1979C8.667 2.97276 9.52117 1.95756 10.8266 1.79798C11.4343 1.72369 12.2507 1.6678 13.3334 1.6678C14.4161 1.6678 15.2325 1.7237 15.8402 1.79798C17.1458 1.95759 17.9998 2.97326 18.1218 4.19816C18.2293 5.27671 18.3334 7.07487 18.3334 10.0011C18.3334 12.9274 18.2293 14.7256 18.1218 15.8041C17.9998 17.029 17.1458 18.0447 15.8402 18.2043C15.2325 18.2786 14.4161 18.3345 13.3334 18.3345C12.2507 18.3345 11.4343 18.2786 10.8266 18.2043C9.52117 18.0447 8.667 17.0295 8.54495 15.8044C8.4869 15.2216 8.42994 14.4301 8.38976 13.3659C8.3724 12.906 8.73116 12.5191 9.19107 12.5017Z' fill='%23777E91'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.00576 12.3284C6.3312 12.6538 6.3312 13.1815 6.00576 13.5069C5.68032 13.8323 5.15269 13.8323 4.82725 13.5069L1.91058 10.5902C1.58514 10.2648 1.58514 9.73716 1.91058 9.41172L4.82725 6.49505C5.15269 6.16962 5.68032 6.16962 6.00576 6.49505C6.3312 6.82049 6.3312 7.34813 6.00576 7.67357L4.51168 9.16764H12.4998C12.9601 9.16764 13.3332 9.54074 13.3332 10.001C13.3332 10.4612 12.9601 10.8343 12.4998 10.8343L4.51168 10.8343L6.00576 12.3284Z' fill='%23777E91'/%3E%3C/svg%3E%0A");
                &:hover{
                  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.19107 12.5017C9.65098 12.4844 10.0379 12.8431 10.0552 13.303C10.0944 14.3399 10.1494 15.0966 10.2034 15.6392C10.2566 16.1735 10.5792 16.495 11.0289 16.5499C11.5591 16.6148 12.307 16.6678 13.3334 16.6678C14.3598 16.6678 15.1078 16.6148 15.638 16.5499C16.0874 16.495 16.4101 16.1734 16.4634 15.6389C16.5637 14.6318 16.6667 12.8918 16.6667 10.0011C16.6667 7.11046 16.5637 5.37048 16.4634 4.36337C16.4101 3.82891 16.0874 3.50728 15.638 3.45234C15.1078 3.38752 14.3598 3.33447 13.3334 3.33447C12.307 3.33447 11.5591 3.38751 11.0289 3.45233C10.5792 3.5073 10.2566 3.82879 10.2034 4.36311C10.1494 4.90568 10.0944 5.66242 10.0552 6.69924C10.0379 7.15915 9.65098 7.51791 9.19107 7.50055C8.73116 7.48318 8.3724 7.09628 8.38976 6.63637C8.42994 5.57217 8.4869 4.78066 8.54495 4.1979C8.667 2.97276 9.52117 1.95756 10.8266 1.79798C11.4343 1.72369 12.2507 1.6678 13.3334 1.6678C14.4161 1.6678 15.2325 1.7237 15.8402 1.79798C17.1458 1.95759 17.9998 2.97326 18.1218 4.19816C18.2293 5.27671 18.3334 7.07487 18.3334 10.0011C18.3334 12.9274 18.2293 14.7256 18.1218 15.8041C17.9998 17.029 17.1458 18.0447 15.8402 18.2043C15.2325 18.2786 14.4161 18.3345 13.3334 18.3345C12.2507 18.3345 11.4343 18.2786 10.8266 18.2043C9.52117 18.0447 8.667 17.0295 8.54495 15.8044C8.4869 15.2216 8.42994 14.4301 8.38976 13.3659C8.3724 12.906 8.73116 12.5191 9.19107 12.5017Z' fill='%23141416'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.00576 12.3284C6.3312 12.6538 6.3312 13.1815 6.00576 13.5069C5.68032 13.8323 5.15269 13.8323 4.82725 13.5069L1.91058 10.5902C1.58514 10.2648 1.58514 9.73716 1.91058 9.41172L4.82725 6.49505C5.15269 6.16962 5.68032 6.16962 6.00576 6.49505C6.3312 6.82049 6.3312 7.34813 6.00576 7.67357L4.51168 9.16764H12.4998C12.9601 9.16764 13.3332 9.54074 13.3332 10.001C13.3332 10.4612 12.9601 10.8343 12.4998 10.8343L4.51168 10.8343L6.00576 12.3284Z' fill='%23141416'/%3E%3C/svg%3E%0A");
                }
              }
            }
          }
        }
      }
    }
    &__wishList{
      &__icon{
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.6924 6.91706C12.3055 7.28838 11.6945 7.28838 11.3076 6.91706L10.6152 6.2526C9.80477 5.47487 8.70994 5 7.5 5C5.01472 5 3 7.01472 3 9.5C3 11.8826 4.28978 13.8501 6.15176 15.4666C8.01532 17.0844 10.2434 18.1574 11.5746 18.7051C11.853 18.8196 12.147 18.8196 12.4254 18.7051C13.7566 18.1574 15.9847 17.0844 17.8482 15.4666C19.7102 13.85 21 11.8826 21 9.5C21 7.01472 18.9853 5 16.5 5C15.2901 5 14.1952 5.47487 13.3848 6.2526L12.6924 6.91706ZM12 4.80957C10.8321 3.6888 9.24649 3 7.5 3C3.91015 3 1 5.91015 1 9.5C1 15.8683 7.97034 19.385 10.8138 20.5547C11.5796 20.8697 12.4204 20.8697 13.1862 20.5547C16.0297 19.385 23 15.8682 23 9.5C23 5.91015 20.0898 3 16.5 3C14.7535 3 13.1679 3.6888 12 4.80957Z' fill='%23777E90'/%3E%3C/svg%3E%0A");
        background-position: center;
        background-repeat: no-repeat;
        $x:24px;
        width: #{$x};
        height: #{$x};
        display: inline-block;
        &:hover{
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.6924 6.91706C12.3055 7.28838 11.6945 7.28838 11.3076 6.91706L10.6152 6.2526C9.80477 5.47487 8.70994 5 7.5 5C5.01472 5 3 7.01472 3 9.5C3 11.8826 4.28978 13.8501 6.15176 15.4666C8.01532 17.0844 10.2434 18.1574 11.5746 18.7051C11.853 18.8196 12.147 18.8196 12.4254 18.7051C13.7566 18.1574 15.9847 17.0844 17.8482 15.4666C19.7102 13.85 21 11.8826 21 9.5C21 7.01472 18.9853 5 16.5 5C15.2901 5 14.1952 5.47487 13.3848 6.2526L12.6924 6.91706ZM12 4.80957C10.8321 3.6888 9.24649 3 7.5 3C3.91015 3 1 5.91015 1 9.5C1 15.8683 7.97034 19.385 10.8138 20.5547C11.5796 20.8697 12.4204 20.8697 13.1862 20.5547C16.0297 19.385 23 15.8682 23 9.5C23 5.91015 20.0898 3 16.5 3C14.7535 3 13.1679 3.6888 12 4.80957Z' fill='%23141416'/%3E%3C/svg%3E%0A");
        }
        &.uk-active{
          background-image: url("images/Group4177.png");
          &:hover{

          }
        }
      }
    }
    &__cart{
      cursor: pointer;
      display: inline-block;
      position: relative;
      width: 24px;
      height: 24px;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.95114 12C5.64217 12 5.40715 12.2774 5.45795 12.5822L6.41571 18.3288C6.57644 19.2932 7.41082 20 8.3885 20H15.6115C16.5892 20 17.4235 19.2932 17.5843 18.3288L18.542 12.5822C18.5928 12.2774 18.3578 12 18.0488 12H5.95114ZM4.18045 10C3.56251 10 3.09247 10.5549 3.19406 11.1644L4.44293 18.6576C4.76438 20.5863 6.43314 22 8.3885 22H15.6115C17.5668 22 19.2356 20.5863 19.5571 18.6576L20.8059 11.1644C20.9075 10.5549 20.4375 10 19.8195 10H4.18045Z' fill='%23777E91'/%3E%3Cpath d='M10 14C9.44772 14 9 14.4477 9 15V17C9 17.5523 9.44772 18 10 18C10.5523 18 11 17.5523 11 17V15C11 14.4477 10.5523 14 10 14Z' fill='%23777E91'/%3E%3Cpath d='M14 14C13.4477 14 13 14.4477 13 15V17C13 17.5523 13.4477 18 14 18C14.5523 18 15 17.5523 15 17V15C15 14.4477 14.5523 14 14 14Z' fill='%23777E91'/%3E%3Cpath d='M10.7071 3.70711C11.0976 3.31658 11.0976 2.68342 10.7071 2.29289C10.3166 1.90237 9.68342 1.90237 9.29289 2.29289L5.29289 6.29289C4.90237 6.68342 4.90237 7.31658 5.29289 7.70711C5.68342 8.09763 6.31658 8.09763 6.70711 7.70711L10.7071 3.70711Z' fill='%23777E91'/%3E%3Cpath d='M13.2929 3.70711C12.9024 3.31658 12.9024 2.68342 13.2929 2.29289C13.6834 1.90237 14.3166 1.90237 14.7071 2.29289L18.7071 6.29289C19.0976 6.68342 19.0976 7.31658 18.7071 7.70711C18.3166 8.09763 17.6834 8.09763 17.2929 7.70711L13.2929 3.70711Z' fill='%23777E91'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19 8H5C4.44772 8 4 8.44772 4 9C4 9.55229 4.44772 10 5 10H19C19.5523 10 20 9.55228 20 9C20 8.44771 19.5523 8 19 8ZM5 6C3.34315 6 2 7.34315 2 9C2 10.6569 3.34315 12 5 12H19C20.6569 12 22 10.6569 22 9C22 7.34315 20.6569 6 19 6H5Z' fill='%23777E91'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      &:focus{
        outline: none;
      }
      &[aria-expanded="true"],
      &:hover{
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.95114 12C5.64217 12 5.40715 12.2774 5.45795 12.5822L6.41571 18.3288C6.57644 19.2932 7.41082 20 8.3885 20H15.6115C16.5892 20 17.4235 19.2932 17.5843 18.3288L18.542 12.5822C18.5928 12.2774 18.3578 12 18.0488 12H5.95114ZM4.18045 10C3.56251 10 3.09247 10.5549 3.19406 11.1644L4.44293 18.6576C4.76438 20.5863 6.43314 22 8.3885 22H15.6115C17.5668 22 19.2356 20.5863 19.5571 18.6576L20.8059 11.1644C20.9075 10.5549 20.4375 10 19.8195 10H4.18045Z' fill='%23353945'/%3E%3Cpath d='M10 14C9.44772 14 9 14.4477 9 15V17C9 17.5523 9.44772 18 10 18C10.5523 18 11 17.5523 11 17V15C11 14.4477 10.5523 14 10 14Z' fill='%23353945'/%3E%3Cpath d='M14 14C13.4477 14 13 14.4477 13 15V17C13 17.5523 13.4477 18 14 18C14.5523 18 15 17.5523 15 17V15C15 14.4477 14.5523 14 14 14Z' fill='%23353945'/%3E%3Cpath d='M10.7071 3.70711C11.0976 3.31658 11.0976 2.68342 10.7071 2.29289C10.3166 1.90237 9.68342 1.90237 9.29289 2.29289L5.29289 6.29289C4.90237 6.68342 4.90237 7.31658 5.29289 7.70711C5.68342 8.09763 6.31658 8.09763 6.70711 7.70711L10.7071 3.70711Z' fill='%23353945'/%3E%3Cpath d='M13.2929 3.70711C12.9024 3.31658 12.9024 2.68342 13.2929 2.29289C13.6834 1.90237 14.3166 1.90237 14.7071 2.29289L18.7071 6.29289C19.0976 6.68342 19.0976 7.31658 18.7071 7.70711C18.3166 8.09763 17.6834 8.09763 17.2929 7.70711L13.2929 3.70711Z' fill='%23353945'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19 8H5C4.44772 8 4 8.44772 4 9C4 9.55229 4.44772 10 5 10H19C19.5523 10 20 9.55228 20 9C20 8.44771 19.5523 8 19 8ZM5 6C3.34315 6 2 7.34315 2 9C2 10.6569 3.34315 12 5 12H19C20.6569 12 22 10.6569 22 9C22 7.34315 20.6569 6 19 6H5Z' fill='%23353945'/%3E%3C/svg%3E%0A");
      }
      &[data-count]{
        position: relative;
        &:before{
          position: absolute;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          border: 2px solid #ffffff;
          box-sizing: border-box;
          content: attr(data-count);
          color: #ffffff;
          width: 16px;
          height: 16px;
          background-color: #E73C3D;
          top: -5px;
          right: -4px;
          font-family: $font-SVNGilroy-Bold;
          @extend .fz-10;
        }
      }
      & + .uk-dropdown{
        min-width: 332px;
        background: #FFFFFF;
        box-shadow: 0 4px 30px rgba(27, 25, 86, 0.1);
        border-radius: 12px;
        padding: 10px 15px;
        >*{
          margin-left: 0;
          &:nth-child(n+2){
            margin-top: 10px;
          }
        }
        .uk-h5{
          color: #1D1E41;
          @extend .fz-16;
          font-family: $font-SVNGilroy-XBold;
          border-bottom: 1px solid #E6E8EC;
          padding-bottom: 10px;
        }
      }
      &__txtEmpty{
        text-align: center;
        color: #B1B5C3;
        @extend .fz-14;
        line-height: (22/14);
        font-family: $font-SVNGilroy-Medium;
      }
    }
    &__search{
      svg{
        &:hover{
          path{
            fill: #353945;
          }
        }
      }
    }
    &__bell{
      cursor: pointer;
      display: inline-block;
      position: relative;
      width: 24px;
      height: 24px;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 18.0233C21 18.5113 20.6043 18.907 20.1163 18.907H3.88372C3.39565 18.907 3 18.5113 3 18.0233C3 17.5352 3.39566 17.1395 3.88372 17.1395H3.9V10.9809C3.9 6.57288 7.527 3 12 3C16.473 3 20.1 6.57288 20.1 10.9809V17.1395H20.1163C20.6043 17.1395 21 17.5352 21 18.0233ZM5.7 17.1395H18.3V10.9809C18.3 7.5494 15.4794 4.76744 12 4.76744C8.5206 4.76744 5.7 7.5494 5.7 10.9809V17.1395ZM9.97604 20.7558C9.73121 20.2608 10.1977 19.7907 10.75 19.7907H13.25C13.8023 19.7907 14.2688 20.2608 14.024 20.7558C13.9155 20.9751 13.7699 21.1773 13.591 21.3529C13.169 21.7672 12.5967 22 12 22C11.4033 22 10.831 21.7672 10.409 21.3529C10.2301 21.1773 10.0845 20.9751 9.97604 20.7558Z' fill='%23777E91'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      &:focus{
        outline: none;
      }
      &[aria-expanded="true"],
      &:hover{
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 18.0233C21 18.5113 20.6043 18.907 20.1163 18.907H3.88372C3.39565 18.907 3 18.5113 3 18.0233C3 17.5352 3.39566 17.1395 3.88372 17.1395H3.9V10.9809C3.9 6.57288 7.527 3 12 3C16.473 3 20.1 6.57288 20.1 10.9809V17.1395H20.1163C20.6043 17.1395 21 17.5352 21 18.0233ZM5.7 17.1395H18.3V10.9809C18.3 7.5494 15.4794 4.76744 12 4.76744C8.5206 4.76744 5.7 7.5494 5.7 10.9809V17.1395ZM9.97604 20.7558C9.73121 20.2608 10.1977 19.7907 10.75 19.7907H13.25C13.8023 19.7907 14.2688 20.2608 14.024 20.7558C13.9155 20.9751 13.7699 21.1773 13.591 21.3529C13.169 21.7672 12.5967 22 12 22C11.4033 22 10.831 21.7672 10.409 21.3529C10.2301 21.1773 10.0845 20.9751 9.97604 20.7558Z' fill='%23353945'/%3E%3C/svg%3E%0A");
      }
      &:before{
        content: "";
        position: absolute;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 2px solid #ffffff;
        box-sizing: border-box;
      }
      &:not(.notify){
        &:before{
          width: 12px;
          height: 12px;
          background-color: #45B26B;
          top: -2px;
          right: -1px;
        }
      }
      &.notify{
        &:before{
          content: attr(data-count);
          color: #ffffff;
          width: 16px;
          height: 16px;
          background-color: #E73C3D;
          top: -4px;
          right: -3px;
          font-family: $font-SVNGilroy-Bold;
          @extend .fz-10;
        }
      }
      & + .uk-dropdown{
        min-width: 273px;
        background: #FFFFFF;
        box-shadow: 0 4px 30px rgba(27, 25, 86, 0.1);
        border-radius: 12px;
        padding: 0;
      }
    }
  }
  &__user{
    &__txt{
      color: #A7A5A5;
      line-height: (17/16);
      @extend .fz-16;
      font-family: $font-SVNGilroy-SemiBold;
      span{
        color: #141416;
      }
    }
  }
  &__listNotify{
    overflow: hidden;
    border-radius: 12px;
    background: #FFFFFF;
    >li{
      margin: 0 !important;
      >a{
        display: block;
        padding: 10px 15px;
      }
    }
    &__li{

    }
    &__link{
      &:hover{
        background-color: rgba(#5BCCF9,0.15);
      }
    }
    &__coverImg{
      background-color: #F4F5F6;
      .header__listNotify__link:hover &{
        background-color: #fff;
      }
    }
    &__txt{
      font-family: $font-SVNGilroy-Medium;
      color: #000;
      line-height: (22/14);
      @extend .fz-14;
      span{
        color: #3772FF;
        font-family: $font-SVNGilroy-SemiBold;
      }
    }
  }
}
.menumobile{
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background-color: #fff;
  height: 0;
  overflow: auto;
  transition: all 0.3s;
  z-index: 10;
  &__uk-icon{
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    top: 4px;
    right: -5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='5 7 15 7 10 12'%3E%3C/polygon%3E%3C/svg%3E");
    .uk-open> &{
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='5 13 10 8 15 13'%3E%3C/polygon%3E%3C/svg%3E");
    }
  }
  &.animated{
    height: calc(100vh - 60px);
  }
  .uk-container{
    padding-left: 20px;
    padding-right: 20px;
  }
  .uk-section-xsmall{
    //padding-top: 15px;
  }
  .uk-nav{
    >li{
      &.active,
      &.uk-active{
        >a{
          color: #9A0000;
        }
      }
      &.menu-home{
        >a{
          &:before{
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='18.65 11.35 10 2.71 1.35 11.35 0.65 10.65 10 1.29 19.35 10.65'%3E%3C/polygon%3E%3Cpolygon points='15 4 18 4 18 7 17 7 17 5 15 5'%3E%3C/polygon%3E%3Cpolygon points='3 11 4 11 4 18 7 18 7 12 12 12 12 18 16 18 16 11 17 11 17 19 11 19 11 13 8 13 8 19 3 19'%3E%3C/polygon%3E%3C/svg%3E");
            width: 20px;
            height: 20px;
            background-size: 100%;
            background-repeat: no-repeat;
            display: inline-block;
          }
        }
        &.active,
        &.uk-active{
          >a{
            &:before{
              background-image: url("data:image/svg+xml,%3Csvg width='20' fill='%239A0000' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='18.65 11.35 10 2.71 1.35 11.35 0.65 10.65 10 1.29 19.35 10.65'%3E%3C/polygon%3E%3Cpolygon points='15 4 18 4 18 7 17 7 17 5 15 5'%3E%3C/polygon%3E%3Cpolygon points='3 11 4 11 4 18 7 18 7 12 12 12 12 18 16 18 16 11 17 11 17 19 11 19 11 13 8 13 8 19 3 19'%3E%3C/polygon%3E%3C/svg%3E");
            }
          }
        }
      }
      >a{

      }
      &.uk-parent{
        position: relative;
        >a{
          &:after{
            display: none;
          }
        }
      }
    }
    li{
      a{
        font-family: $font-Roboto-Medium;
        letter-spacing: 0.07px;
        color: #333333;
        @extend .fz-14;
      }
    }
  }
  &__copyright{
    border-top: 1px solid #E6E8EC;
    >*{
      color: #777E90;
      @extend .fz-14;
      font-family: $font-SVNGilroy-Medium;
    }
  }
}